*.pyc
data
output
build
diff_rasterization/diff_rast.egg-info
diff_rasterization/dist
submodules/
SIBR_viewers/
submodules/*
*.dump
pointops2/pointops2.egg-info
simple-knn/simple_knn.egg-info
__pycache__/
*.so
.Python
.vscode/
build/
develop-eggs/
dist/
eggs/
.eggs/
*.egg
*.sh